{% extends "update_status/updateStatus" %}

    {% block title %} Kumpulan Pesan {% endblock %}

    {% block content %}
    <!--  Populate semua isi pesan dari model -->
    <table>
        <thead>
            <th>Post: </th>
            <th>Dibuat Pada</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in post %}
             <tr>
                <td> {{i.post}} </td>
                <td> {{i.created_date.time}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
