{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}" />
    <title>
        Update Status
    </title>
</head>
<body class="body">
	<div class="wraper">
		<div class="form-panel-head">
			<h1 class="data">Update Status</h1>
			<form id="form" method="POST" action="{% url 'update-status:add-post' %}">
					{% csrf_token %}
					{{ post_form }}
					<br>
				<button class="button-design" type="submit">Post</button>
			</form>
		</div>
		<div class="container">
			<div class="flex">
			  {% for i in post %}
				<div class="flex-item">
					<div class="posts">
						<!--div class="post-profile">
						</div-->
						<div>
							<p style="white-space:pre">{{i.post}}</p>
						</div>
						<div class="post-date">{{i.created_date|date:"d M Y G:i:s"}}</div>
					</div>
				</div>
			  {% endfor %}
			</div>
		</div>
	</div>
</body>
</html>
